.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.joker{
  padding: 1%;
}

.joker-mini-text{
  font-style: normal;
  font-weight: 400;
}
.joker-text{
  color: navy;
}
.main-img{
  width: 176px;
}
nav{
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  background-color: seagreen;
  height: 30%;
  padding: 10px 0px;
  margin-bottom: 10px;
  color: white;
  
}
section{
  padding: 30px;
  display: grid;
  align-items: center;
  align-self: center;
  background-color: rgb(195, 246, 214);
}
section >h2{
  color:teal;
}