.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.joker{
  padding: 1%;
}

.joker-mini-text{
  font-style: normal;
  font-weight: 400;
}
.joker-text{
  color: navy;
}
.main-img{
  width: 176px;
}
nav{
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  background-color: seagreen;
  height: 30%;
  padding: 10px 0px;
  margin-bottom: 10px;
  color: white;
  
}
section{
  padding: 30px;
  display: grid;
  align-items: center;
  align-self: center;
  background-color: rgb(195, 246, 214);
}
section >h2{
  color:teal;
}
main{
  padding: 36px;
}
.memeHeader{
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  align-items: center;
  display: flex;
  /* justify-content: space-between; */
  height: 65px;
  padding: 20px;
}
.meme-header-img{
  height: 100%;
  margin-right: 6px;
}
.meme-title{
  font-size: 20px;
  margin-right: auto;
}
.meme-project{
  font-size: 12px;
  font-weight: 500;
}
.form{
  display: grid;
  grid-template: 40px 40px;
  gap: 17px;
}
.form-input{
  border-radius: 5px;
  /* width: 10px; */
  border: 1px solid #D5D4D8;
  font-family: 'Karla', sans-serif;
  text-indent: 5px;
}
input[type="text"]{
  height: 30px;
  border-radius: 3px;
}

.form-button{
  grid-column: 1 / -1;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 20px;
  background:linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}
.avatar-img{
  max-width: 20%;
}
.card-name{
  font-size: 25px;
  font-weight: 700;

}
.card-contact{
  color: rgba(0, 0, 0, 0.582);
  font-size: 15px;
}
.star{
  width: 30px;
}