.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.joker{
  padding: 1%;
}

.joker-mini-text{
  font-style: normal;
  font-weight: 400;
}
.joker-text{
  color: navy;
}